body {
    background-color: #cdb4db;
}

a {
    color: black;
}

button {
    background-color: #bde0fe;
}

button:hover {
    background-color: #0077b6;
}

button:active {
    background-color: #003566;
    color: #cdb4db;
}



#signup {
    background-color: #ffc8dd;
}

/* #this {
    background-color: #ffafcc;
} */

.tag {
    background-color: #a2d2ff;
    font-size: 14px;
}

.post a {
    color: blueviolet;
}

.post a:hover {
    color: #5f0f40;
    font-weight: bold;
}

input[type="password"] {
    color: #219ebc;
}

.post:nth-of-type(2n) {
    background-color: #9b88a6;
}

h2::first-letter {
    font-size: 40px;
}

p::first-line {
    color: #6a4c93
}

p::selection {
    background-color: #ffd6ff;
}

/* a[href*="google"] {
    color: magenta
} */